// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.letters {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
}

.form {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.text {
    width: 90%;
}